{{- $email := promptStringOnce . "email" "Email address" -}}
edit:
  command: nvim

merge:
  command: nvim
  args: ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

git:
  autoCommit: true
  # autoPush: true

data:
  email: {{ $email | quote }}
